# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# ML / model artifacts
models/

# Local config / secrets
db_config.txt

# db connector logic
db_connector.py

# trial log
trial_log.txt

# schema file
schema.txt

# mindsql history
mindsql_history.txt